[Unit]
Description=VMware daemon
Requires=vmware-USBArbitrator.service
Before=vmware-USBArbitrator.service
After=network.target

[Service]
ExecStart=/usr/lib/vmware/scripts/init/vmware start
ExecStop=/usr/lib/vmware/scripts/init/vmware stop
PIDFile=/var/lock/subsys/vmware
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target