[user]
        name = Alan Ghelardi
        email = alan.ghelardi@nubank.com.br
        signingkey = A8C0631D96CEBD25
[commit]
        gpgsign = true
[core]
        editor = emacsclient
[url "git@github.com:"]
        insteadOf = https://github.com/
