[user]
        name = Alan Ghelardi
        email = alan.ghelardi@nubank.com.br
        signingkey = 41B9CF5DF8733C19
[commit]
        gpgsign = true
[core]
        editor = emacsclient
[url "git@github.com:"]
        insteadOf = https://github.com/
